Repository sQVe/colorally: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "jest --findRelatedTests"
  ],
  "*.json": ["prettier --write"]
}

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): remove deprecated babel polyfill
  package-lock.json
  package.json
Due: prettier --write

chore: format md and yaml on commit
  .lintstagedrc.json
Due: prettier --write

test: repair tests after dependency update
  test/ruler.test.js
  test/setup.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

chore(format): run code through new prettier version
  rollup.config.js
  src/cli.js
  src/color-scaper.js
  src/converters.js
  src/helpers.js
  src/ruler.js
  src/utility.js
  test/colorally.test.js
  test/converters.test.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

fix(definitions): update definitions (cron build: 2152)
  data/colors.json
Due: prettier --write

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e8372b93dea75a99afa55d7176522030ad643ba
Due: none

fix(ci): run travis on node 12
  .babelrc.js
  .travis.yml
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --findRelatedTests

fix(definitions): update definitions (cron build: 2169)
  data/colors.json
Due: prettier --write

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  75c5b08f4eb02481d762862c7be37fe72f38df1e
Due: none

fix(definitions): update definitions (cron build: 2219)
  data/colors.json
Due: prettier --write

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  973f42d388f14750c6dab2bf6be944758486fc36
Due: none

fix(definitions): update definitions (cron build: 2444)
  data/colors.json
Due: prettier --write

chore(release): 1.0.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae5ca6586d1af3eb3ea9769254f15c46778f5312
Due: none

fix(definitions): update definitions (cron build: 2487)
  data/colors.json
Due: prettier --write

chore(release): 1.0.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  537dc44b9827c8c5cca69a520c3f44d9e67ffb5a
Due: none

fix(definitions): update definitions
  data/colors.json
Due: prettier --write

chore(linting): fix linting issues
  rollup.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

chore(sec): fix codecov sec issue
  package.json
Due: prettier --write

chore(release): attempt to repair release
  .travis.yml
  package-lock.json
Due: prettier --write

chore(release): attempt to repair release
  .travis.yml
Due: none

chore(ci): run on node version 12
  .travis.yml
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7f5dfe6c8fbcfbcbcb2274dccb624bc95b767b37
Due: none

fix(definitions): update definitions (cron build: 2652)
  data/colors.json
Due: prettier --write

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7a3722c412a037189c446519bf5960989b78cfbb
Due: none

fix(build): minimize bundle size
  .babelrc.js
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

chore(build): correct es build path
  rollup.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
