Repository sQVe/colorally: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --findRelatedTests

Notes added by 'git notes add'
  0289115c9a7942cbfda86509aa741c70af0dc2a6
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: format code
  rollup.config.js
  src/cli.js
  src/color-scaper.js
  src/colorally.js
  src/converters.js
  src/helpers.js
  src/ruler.js
  test/colorally.test.js
  test/ruler.test.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

chore: update auto scrape script
  scripts/auto-scrape.sh
Due: none

fix: add github actions
  .github/workflows/auto-scrape.yaml
  .github/workflows/test-and-release.yaml
Due: prettier --write

chore: remove legacy travis config
  .travis.yml
Due: none

chore: update dependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

fix: update definitions
  data/colors.json
Due: prettier --write

chore(release): 2.0.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5bf1cba4bd6222b7f291b306c63a15d06d94061
Due: none

chore: update linting dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: repair auto scrape workflow
  .github/workflows/auto-scrape.yaml
  .github/workflows/test-and-release.yaml
Due: prettier --write

chore: remove bloat from auto scrape script
  scripts/auto-scrape.sh
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

test: remove whitespace
  test/cli.test.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

test: update snapshots
  test/__snapshots__/cli.test.js.snap
Due: none

fix(submodules): update snippets (run: 16)
  data/colors.json
Due: prettier --write

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  905cc3d379182e66e8dcd7775b8861ad763ba2de
Due: none

fix(submodules): update snippets (run: 17)
  data/colors.json
Due: prettier --write

chore(release): 2.0.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90a18001d7d3c2055d5c80bb3379bb31d0e35b3d
Due: none

chore: remove ignore list on dependabot
  .github/dependabot.yml
Due: none

chore: run linting and formatting after update
  .eslintrc.json
  .prettierrc.json
  src/color-scaper.js
  src/helpers.js
Due: prettier --write, eslint --fix, jest --findRelatedTests

chore: change auto update scope name
  scripts/auto-scrape.sh
Due: none

fix(definitions): update definitions (run: 32)
  data/colors.json
Due: prettier --write

chore(release): 2.0.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6890022438371c3f12e5b4e9caf3fdf228ebe714
Due: none

fix(definitions): update definitions (run: 35)
  data/colors.json
Due: prettier --write

chore(release): 2.0.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  28c5468dd8db2d48ef0299c88a5d2b482ac0fa08
Due: none

fix(definitions): update definitions (run: 37)
  data/colors.json
Due: prettier --write

chore(release): 2.0.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5203671fb0f2797fc1ac9b664b16d1e5e769c1ad
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx}
